// Media
@mixin phone {
	@media (max-width: 639.98px) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: 1023.98px) {
		@content;
	}
}

@mixin laptop {
	@media (max-width: 1279.98px) {
		@content;
	}
}

@mixin desktop {
	@media (max-width: 1535.98px) {
		@content;
	}
}

// Color placeholders
@mixin placeholder($color: #000) {
	&::-webkit-input-placeholder {
		color: $color;
	}
	&::-moz-placeholder {
		color: $color;
	}
	&:-ms-input-placeholder {
		color: $color;
	}
	&:-moz-placeholder {
		color: $color;
	}
}

// Visually hidden
@mixin visually-hidden() {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

// GPU
@mixin gpu($change: transform) {
	transform: translateZ(0);
	will-change: $change;
}

// Object-fit
/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
  or object-fit and object-position:
  @include object-fit(cover, top);
*/
@mixin object-fit($fit: fill, $position: null) {
	-o-object-fit: $fit;
	object-fit: $fit;
	@if $position {
		-o-object-position: $position;
		object-position: $position;
		font-family: 'object-fit: #{$fit}; object-position: #{$position}';
	} @else {
		font-family: 'object-fit: #{$fit}';
	}
}

// Yandex Map filter
@mixin ymaps-filter {
	[class*='-ground-pane'] {
		position: relative;
		@content;
	}
}

// Flex center (to parent)
@mixin flex-center() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin lazy-loaded {
	opacity: 0;
	transition: opacity 0.45s ease-in-out;

	&._is-loaded {
		opacity: 1;
	}
}

// Full-widht container
@mixin full-width() {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}
