// Colors
$white: #fff;
$black: #000;
$gray: #464a4c;

$color_primary: #cc4b37;
$color_secondary: #767676;

$color_light: #f8f9fa;
$color_dark: #212529;

$color_body: $color_dark;

// Fonts
$font_body: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
	'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
	'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font_display: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
	'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
	'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
